.price {
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    color: #340078;
    text-align: center;
    font-family: "Extended-Ultrabold";
    font-size: 40px;
    line-height: 110%; /* 49.5px */
  }
  .text {
    color: #340078;
    text-align: center;
    font-family: "Extended-Semibold";
    font-size: 35px;
    line-height: 110%;
    margin-top: 66px;
  }
  .list {
    margin-top: 42px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;

    .link {
      color: #340078;
      font-family: 'Extended-Semibold';
      font-size: 25px;
      line-height: 110%;
      max-width: 400px;
      width: 100%;

      span{
        color: #f50;
      }
    }
    .link::before {
      content: "";
      display: inline-block;
      width: 15px;
      height: 15px;
      background-color: #340078;
      border-radius: 50%;
      text-align: start;
      margin-right: 11px;
    }
    .link:nth-of-type(4), .link:nth-of-type(3){
      margin-top: 45px;
    }
  }
}
@media(max-width:992px){
  .price{
    .title{
      font-size: 35px;
    }
    .text{
      font-size: 30px;
      margin-top: 40px;
    }
    .list{
      column-gap: 30px;
      .link{
        font-size: 22px;
      }
      .link::before{
        width: 13px;
        height: 13px;
      }
    }
  }
}
@media(max-width:768px){
  .price{
    .title{
      font-size: 30px;
    }
    .text{
      font-size: 25px;
    }
    .list{
      column-gap: 30px;
      .link{
        font-size: 17px;
      }
      .link::before{
        width: 11px;
        height: 11px;
      }
    }
  }
}
@media(max-width:568px){
  .price{
    .title{
      font-size: 22px;
    }
    .text{
      font-size: 18px;
    }
    .list{

      .link{
        font-size: 13px;
      }
      .link::before{
        width: 7px;
        height: 7px;
      }
      .link:nth-of-type(4), .link:nth-of-type(3){
        margin-top: 25px;
      }
    }
  }
}
@media(max-width:410px){
  .price{
    .title{
      font-size: 18px;
    }
    .text{
      font-size: 15px;
    }
    .list{

      .link{
        font-size: 11px;
      }
      .link::before{
        width: 7px;
        height: 7px;
      }
      .link:nth-of-type(4), .link:nth-of-type(3){
        margin-top: 25px;
      }
    }
  }
}