.advantages {
  margin-top: 90px;

  .title {
    color: #340078;
    text-align: center;
    font-family: "Extended-Ultrabold";
    font-size: 40px;
    line-height: 110%; /* 49.5px */
  }
  .box {
    display: flex;
    margin-top: 70px;
    justify-content: center;

    .items {
        .item {
            border-radius: 5px;
            background: #340078;
            box-shadow: 3px 3px 20px 0px rgba(255, 255, 255, 0.4);
            display: flex;
            justify-content: center;
            margin-bottom: 10px;

      
            p{
                color: #FFF;
                font-family: 'Extended-Ultrabold';
                font-size: 20px;
                line-height: 110%; /* 22px */
                padding: 28px 19px;
                text-align: center;
            }
          }
    }
    .items:nth-of-type(1){
        .item:nth-of-type(1){
            opacity: 0;
        }
    }
    .items:nth-of-type(2){
        margin: 0 25px;
        .item:nth-of-type(1){
            border-radius: 5px;
            background: #FFF;
            box-shadow: 3px 3px 20px 0px rgba(52, 0, 120, 0.40);
            p{
                color: #f50;
            }
        }
    }
    .items:nth-of-type(3){
        .item:nth-of-type(1){
            border-radius: 5px;
            background: #FFF;
            box-shadow: 3px 3px 20px 0px rgba(52, 0, 120, 0.40);

            p{
                color: #340078;
            }
        }
    }
  }
}
@media(max-width:1200px){
.advantages{
    .box{
        .items{
            .item{
                p{
                    padding: 20px 5px;
                    font-size: 19px ;
                }
            }
        }
    }
}
}
@media(max-width:992px){
    .advantages{
        .title{
            font-size: 35px;
        }
        .box{
            .items{
                .item{
                    p{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
@media(max-width:768px){
    .advantages{
        .title{
            font-size: 25px;
        }
        .box{
            margin-top: 60px;
            .items{
                .item{
                    p{
                        font-size: 10px;
                    }
                }
            }
        }
    }
}
@media(max-width:567px){
    .advantages{
        .title{
            font-size: 20px;
        }
        .box{
            margin-top: 40px;
            .items{
                .item{
                    p{
                        font-size: 6px;
                        padding: 15px 5px;
                    }
                }
            }
            .items:nth-of-type(2){
                margin: 0 20px;
            }
        }
    }
}