.header{
    background: url('../../public/images/shape.webp');
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    background-position: center;
}
.main{
    background: url('../../public/images/shape2.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 2113px;
    background-position: center;

}
.footer{
    background: url('../../public/images/shape3.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-position: center;

}